.App {
  display: flex; /* Flexbox düzeni kullanılıyor */
  flex-direction: column; /* Elemanlar dikey olarak hizalanıyor */
  align-items: center; /* Elemanlar ortalanıyor */
  padding: 20px; /* İçerik çevresinde boşluk ekleniyor */
  background-color: #94d7c7; /* Arka plan rengi belirleniyor */
  min-height: 100vh; /* Sayfa yüksekliği tam ekran olacak şekilde ayarlanıyor */
}

.appButton {
  width: 200px; /* Buton genişliği ayarlanıyor */
  background-color: #007bff; /* Buton arka plan rengi belirleniyor */
  color: white; /* Buton metin rengi beyaz yapılıyor */
  padding: 15px; /* Buton içi boşluk ekleniyor */
  font-size: 18px; /* Metin boyutu belirleniyor */
  border-radius: 8px; /* Köşeler yuvarlatılıyor */
  border: none; /* Butonun kenarlığı kaldırılıyor */
  margin-bottom: 20px; /* Buton altına boşluk ekleniyor */
  cursor: pointer; /* Fare işareti buton üzerinde iken pointer oluyor */
  transition: background-color 0.3s ease; /* Arka plan renginin değişim hızı ayarlanıyor */
}

.appButton:hover {
  background-color: #0056b3; /* Buton üzerine gelindiğinde arka plan rengi değişiyor */
}

.courseList {
  display: flex; /* Kurslar flexbox ile hizalanıyor */
  flex-wrap: wrap; /* Kurslar satır sonuna gelince alt satıra geçiyor */
  justify-content: center; /* Kurslar ortalanıyor */
  gap: 20px; /* Kurslar arasına boşluk ekleniyor */
}
